.sub_menu_wrap{
  position: absolute;
  top: 25%; 
  width: 340px;
  right: 5%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub_menu_wrap.open_menu{
  max-height: 400px;
}
.sub_menu{
  background: #fff;
  padding: 20px;
  margin: 10px;
  height: 245px;
}
.user_info{
  display: flex;
  align-items: center;
}
.user_info h2{
  font-weight: 500;
}
.user_info img{
  height: 70px;
  width: 60px;
  border-radius: 15%;
  margin-right: 15px;
}
.sub_menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #000;
  margin: 15px 0 10px;
}
.sub_menu_link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}
.sub_menu_link p {
  width: 100%;
}
.sub_menu_link img{
  width: 40px;
  height: 100%;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
.sub_menu_link span{
  font-size: 22px;
  transition: transform 0.5s;
}
.sub_menu_link:hover span{
  transform: translateX(5px);
} 
.sub_menu_link:hover p{
  color: #00dfc4;
  font-weight: 600;
  
}




@media (max-width: 950px) {
  .sub_menu_wrap{
    position: absolute;
    top: 25%; 
    width: 340px;
    right: 1%;
  }
}